/* NAVBAR */
.link-ativo {
	color: #48a822 !important; 
}
/* FIM DE NAVBAR */

/* BANNER */
.pererekas-titulo-banner {
	font-size: 32px;
  line-height: 45px;
  color: #43121d;
  font-weight: 700;
}

.seta {
	font-size: 50px !important;
	position: absolute;
	top: 45%;
}

.container-banner {
	margin-top: -250px; 
	margin-bottom: 100px;
}

@media only screen and (max-width: 991px) {
  .title {
  	align-items: center;  	
	  -webkit-justify-content: center;
	  justify-content: center;
	  margin: 0 auto;	  
  }
}

@media only screen and (max-width: 700px) {
  .seta {
  	display: none;
  }
}

@media only screen and (max-width: 600px) {
  .container-banner {
  	margin-top: -200px;
		margin-bottom: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .pererekas-titulo-banner {
  	visibility: hidden;
  }
}

@media only screen and (max-width: 372px) {
  .pererekas-text-banner {
  	visibility: hidden;
  }
}

@media only screen and (max-width: 372px) {
  .container-banner {
  	margin-top: -200px;
		margin-bottom: 0px;
  }
}